.recipes_video-caption{
  display: flex;
  justify-content: space-between;
  font-family:"Inter";
  font-weight: 500;
  line-height:30px;
  color:white;
}

p{
display:block;
margin-block-start:1em;
margin-block-end: 1em;
margin-inline-start: 0px;
scroll-margin-inline-end:0px;
unicode-bidi: isolate;
}

.recipes_videos{
  display:flex;
  gap: 100px;
  justify-content:center;
  list-style:none;
  margin-bottom: 215px;
}

.page{
  font-family:"Inter", Arial, sans serif;
  min-width: 1100px;
  max-width:1600px;
  margin:0 auto;
  font size: 16px;
  line height:20px;
}