.menu{
  padding:100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../images/background_menu.svg);
  background-repeat: no-repeat;
  background-position: cover;
}

.menu__title{
margin:0 0 24px;
font-weight: 500;
font-size: 44px;
line-height: 52px;
max-width: 780px;
text-align: center;
}

.menu__subtitle{
  margin:0 0 100px;
  font-family: "Noto Serif", "Times New Roman", Serif;
  font-size: 20px;
  line-height: 30px;
  max-width: 780px;
  padding: 0 0 0px;
  text-align: center;
}

.menu__cards{
display: flex;
font-family: "Noto Serif";
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  column-gap: 100px;
  row-gap: 100px;
  justify-content: center;
}
