.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  height: 39px;
  width: 105px;
  position: relative;
  left: 130;
}

.nav__links {
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.nav__link {
  color: #000;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link:hover {
  color: #1f69c9;
}
