.recipes {
  padding: 100px 80px 215px;
  color: #fff;
  background-image: url(../images/background_recipes.svg);
  background-color: #0a2750;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}

.recipes__title {
  margin: 0 auto 24px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  margin: 0 0 80px;
  max-width: 438px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.recipes__videos {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
  list-style: none;

}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.recipes__iframe {
  margin-bottom: 24px;
  margin-top: 80px;
  width: 480px;
}